# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
1.8/build-4-Desktop_Qt_5_11_2_MinGW_32bit-Debug/.qmake.stash
1.8/build-4-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile
1.8/build-4-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile.Debug
1.8/build-4-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile.Release
1.8/build-5-Desktop_Qt_5_11_2_MinGW_32bit-Debug/.qmake.stash
1.8/build-5-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile
1.8/build-5-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile.Debug
1.8/build-5-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile.Release
1.8/build-6-Desktop_Qt_5_11_2_MinGW_32bit-Debug/.qmake.stash
1.8/build-6-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile
1.8/build-6-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile.Debug
1.8/build-6-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile.Release
